version: '3.2'

services:

  app:
    build: system
    ports:
      - 30013:80
    volumes:
      - ~/.composer-docker/cache:/root/.composer/cache:delegated
      - ./:/app
    depends_on:
      - mysql
    networks:
      - questable
    dns:
      - 8.8.8.8
      - 8.8.4.4

  mysql:
    image: mariadb:11.4
    restart: unless-stopped
    ports:
      - 3313:3306
    volumes:
      - ./system/mysql:/var/lib/mysql
    #command: --innodb_buffer_pool_size=1024M --innodb_read_io_threads=4 --innodb_flush_log_at_trx_commit=2 --innodb_flush_method=O_DIRECT --max-allowed-packet=268435456
    environment:
      - MYSQL_ROOT_PASSWORD=gleb&sasha
      - MYSQL_DATABASE=questable
      - MYSQL_USER=questabledev
      - MYSQL_PASSWORD=questabledev
      - MARIADB_AUTO_UPGRADE=1
    networks:
      - questable

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    ports:
      - '8891:80'
    environment:
      - PMA_ARBITRARY=1
      - PMA_HOST=mysql
    depends_on:
      - mysql
    networks:
      - questable

networks:
  questable:
    driver: bridge