services:
  app:
    build:
      context: .
      dockerfile: system/Dockerfile
    ports:
      - "30013:80"
    volumes:
      - ~/.composer-docker/cache:/root/.composer/cache:delegated
      - ./:/app
      - ./system/xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini
    networks:
      - questable
    depends_on:
      - db_tunnel

  # наш туннель
  db_tunnel:
    image: alpine:latest
    container_name: db_tunnel

    # 1. устанавливаем SSH
    # 2. копируем ключ и даем права 600
    command: >
      sh -c "apk add --no-cache openssh-client &&
      mkdir -p /root/.ssh &&
      cp /ssh_key_ro /root/.ssh/id_rsa &&
      chmod 600 /root/.ssh/id_rsa &&
      ssh -4 -i /root/.ssh/id_rsa -N -o StrictHostKeyChecking=no -o GatewayPorts=yes -L 0.0.0.0:3306:127.0.0.1:3306 sandrocaster@176.108.251.223"
    volumes:

      # ключ из sshkey
      - ./sshkey/project_key:/ssh_key_ro:ro
    networks:
      - questable
    restart: always

networks:
  questable:
    driver: bridge