* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.2s;
}

body {
  background-color: var(--bg-body);
  color: var(--text-main);
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  padding-bottom: 60px;
}

h1, h2, h3, h4 {
  color: var(--text-main);
  font-weight: 800;
  line-height: 1.2;
}